{% extends "base.html" %}

{% block content %}

<h2 id="header-email-redirect">verify email</h2>

<p id="message-email-redirect">Please enter your email to confirm. :)</p>

<span id="email-redirect-form">
    <form action="/_dream_form" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p> 
            <b>{{ form.initials.label }}</b><br>
            Real or non de plume. 
            <br>
            {{ form.initials() }}
            <br>
        </p>
        <p>
            <b>{{ form.location.label }}</b><br>
            Include the city or country where you had this dream.
            <br>
            {{ form.location(style="width:50%") }}
        </p>
        <p>
            <b>{{ form.dream_date.label }}</b><br>
            Please enter the day on which you had this dream. If you had the dream at night, enter the date of the evening before. 
            <br>
            {{ form.dream_date(style="width:50%") }}
        </p>
        <p>
            <b>{{ form.dream_text.label }}</b><br>
            Describe what you remember from the dream. Try to avoid ornamentation, analysis, or explanation -- what do you see? Hear? Touch? Smell? Taste? Feel? Do?
            <br>
            {{ form.dream_text(style="width:100%", rows="20") }}
        </p>

            <b>{{ form.themes.label }}</b>
            {{ form.themes() }}<br>

            <b>{{ form.content_warnings.label }}</b>
            {{ form.content_warnings() }}

        <p>I agree to have my dream published anonymously on Collective Nightmare Dream Collection.<br>
        {{ form.agree_to_copyright() }} {{ form.agree_to_copyright.label }}</p>
        <p>{{ form.submit() }}</p>
    </form>
</span>

{% endblock %}