{% extends "base.html" %}

{% block content %}
    <h2>
        a home for dreams during covid-19
    </h2>
    <p>
        "Once Zhuang Zhou dreamed he was a butterfly, a butterfly flitting and fluttering around, happy with himself and doing as he pleased. He didn’t know he was Zhuang Zhou. Suddenly he woke up, and there he was, solid and unmistakable Zhuang Zhou. But he didn’t know if he were Zhuang Zhou who had dreamed he was a butterfly or a butterfly dreaming he was Zhuang Zhou"
        <br>-- Zhuangzi, c. 3rd century BCE
        
    </p>
    <p>
        I keep waking into a reality that seems surreal -- or, hyperreal. When reality conforms to the hazy, hyperbolic logic of dreams, how is dreaming itself transformed?
    </p>
    <p>
        This archive seeks to document the fragments of collective dream reality during a time of unimaginable crisis. We welcome your dreams as they are, be they nightmares or divine visions, allegories or strange scramblings of the mundane. While <i>Collective Nightmare Dream Collection</i> does not offer analyses or interpretations of dreams, we hope that you will find your own meaning as you make your way through the dreams presented here. <br>
    </p>
    <p>
        Created with ❤ by Da, a dreamer and dabbler living on the east coast of the U.S.
    </p>
{% endblock %}