<!DOCTYPE html>
<html>
<head>
    <title>pillow archive</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static',filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon_sleep.ico') }}">
    <link href="https://fonts.googleapis.com/css?family=Courier+Prime&display=swap" rel="stylesheet">
</head>
<body>
    <div class="header">
      <div class="title">
        <h1>
          <a href="{{ url_for('about') }}">.•*¨collective</br>nightmare dream</br>collection¨*•.</a>
        </h1>
      </div>
      <div class="navbar">
          <ul>
          <li>
            <a href="{{ url_for('about') }}">about</a>
          </li>
          <li>//</li>
          <li>
            <a href="{{ url_for('archive') }}">archive</a>
          </li>
          <li>//</li>
          <li>
            <a href="{{ url_for('submit') }}">submit</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="content">
      {% block content %}{% endblock %}
    </div>

</body>
</html>