{% extends "base.html" %}

{% block content %}

<h2>enter email to sign in</h2>

<p>We'll send you an email with a link to the submission page. :)</p>

<form action="" method="post">
    <div class="input-and-error">
        <p>
            <input id="email" type="text" required pattern = ".+@.+" name="email"> 
        </p>
        <p id="error-email" class="error"></p>
    </div>
    
    <p>
        <input type="button" value="Send link" onclick="verifyEmail()">  
    </p>
</form>

{% endblock %}